langchain 
python-dotenv
ipykernel
langchain-community 
pypdf 
bs4 
arxiv 
pymupdf
wikipedia 
langchain-text-splitters 
langchain-openai 
chromadb 
sentence-transformers
langchain-huggingface
faiss-cpu 
langchain-chroma 
duckdb
pandas 
openai
langchain-groq
